<div class="modal-header">
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="modal-title w-100" id="myModalLabel">Datos del cliente</h4>
</div>
<div class="modal-body">

  <!-- Extended default form grid -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="tsy-form-valid needs-validation">

    <div class="form-row">
      <div class="form-group col-md-3">
        <label>Código</label>
        <input mdbInput type="number" class="form-control text-uppercase" formControlName="id" name="id" readonly>
      </div>
      <div class="form-group col-md-9">
        <label>Mail</label>
        <input mdbInput type="email" class="form-control text-uppercase" formControlName="mail" name="mail" [readonly]="readOnly" maxlength="50">
        <div class="ng-invalid-feedback" *ngIf="f.mail.touched && f.mail.invalid">
          No cumple con el formato correspondiente.
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Nombre</label>
        <input type="text" class="form-control text-uppercase" formControlName="name" [readonly]="readOnly">
        <div class="ng-invalid-feedback" *ngIf="f.name.touched && f.name.invalid">
          Alfabetico, sin números ni caracteres especiales, mínimo 2 caracteres.
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Apellido</label>
        <input mdbInput type="text" class="form-control text-uppercase" formControlName="lastName" name="lastName" [readonly]="readOnly" maxlength="50">
        <div class="ng-invalid-feedback" *ngIf="f.lastName.touched && f.lastName.invalid">
          Alfabetico, sin números ni caracteres especiales, mínimo 2 caracteres.
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Dni</label>
        <input mdbInput type="text" class="form-control text-uppercase" formControlName="dni" name="dni" [readonly]="readOnly" maxlength="15">
        <div class="ng-invalid-feedback" *ngIf="f.dni.touched && f.dni.invalid">
          Númerico, sin letras ni caracteres especiales, mínimo 5 dígitos.
        </div>
      </div>
      <div class="form-group col-md-4">
        <label>Nacimiento</label>
        <input mdbInput type="date" class="form-control text-uppercase" formControlName="birthDate" name="birthDate" [readonly]="readOnly">
        <div class="ng-invalid-feedback" *ngIf="f.birthDate.touched && f.birthDate.invalid">
          Fecha incorrecta.
        </div>
      </div>
      <div class="form-group col-md-4">
        <label>Sexo</label>
        <select class="form-control text-uppercase" formControlName="gender" name="gender" [ngClass]="{'tsy-select-disabled': readOnly}">
          <option *ngFor="let item of sexoList" value= {{item.id}}> {{item.descripcion}} </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Dirección</label>
        <input mdbInput type="text" class="form-control text-uppercase" formControlName="address" name="address" [readonly]="readOnly" maxlength="50">
      </div>
      <div class="form-group col-md-6">
        <label>Teléfono</label>
        <input mdbInput type="text" class="form-control text-uppercase" formControlName="phoneNumber" name="phoneNumber" [readonly]="readOnly" maxlength="50">
        <div class="ng-invalid-feedback" *ngIf="f.phoneNumber.touched && f.phoneNumber.invalid">
          Números, espacios, -, +, / o *; Sin letas.
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label>Observaciones</label>
        <textarea mdbInput class="form-control text-uppercase" formControlName="observations" name="observations" rows="3" [readOnly]="readOnly"
          maxlength="300"></textarea>
      </div>
    </div>

  </form>

</div>
<div class="modal-footer">
  <button type="button" mdbBtn color="success" size="sm" class="waves-light" outline="true" aria-label="Close" (click)="modalRef.hide()" mdbWavesEffect>Salir</button>
  <button type="button" mdbBtn color="success" size="sm" class="waves-light" aria-label="Save" *ngIf="!readOnly" [disabled]="!form.dirty" (click)="onSubmit()" mdbWavesEffect>Guardar</button>
</div>
