@font-face {
  font-family: Chango;
  src: url("../fonts/Chango/Chango-Regular.woff") format("woff"),
  url("../fonts/Chango/Chango-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Rubik;
  src: url("../fonts/Rubik/Rubik-Regular.woff") format("woff"),
  url("../fonts/Rubik/Rubik-Regular.woff2") format("woff2");
}
