<section id="clientes-component" class="m-0 py-2">

  <div class="container-fluid m-0 mb-2 p-0">
    <div class="row m-0 p-0">
      <div class="col-12 col-sm-2 m-0 mb-2 mb-sm-0 p-0">

        <button type="button" mdbBtn color="primary" size="md" class="rounded m-0 d-flex align-items-center p-0 px-3 py-2 fs-18" mdbWavesEffect  (click)="openForm(null, 'ALTA')">
          <p class="m-0 p-0"> NUEVO </p>
          <i class="fas fa-plus-circle ml-2 fs-20"></i>
        </button>

      </div>
      <div class="col-12 col-sm-10 m-0 p-0">

        <form class="form-inline justify-content-end">
          <div class="input-group">
            <input type="text" class="form-control"(keyup)="applyFilter($event)">
            <div class="input-group-append">
              <div class="input-group-text">
                <mdb-icon fas icon="search"></mdb-icon>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

  <div class="table-container rounded-top">
    <table mat-table [dataSource]="dataSource" matSort class="w-100 mat-elevation-z8 table-striped table-bordered tsy-table font-ruby">

      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="tsy-table-th"> CODIGO </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- name and lastname column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="px-2 tsy-table-th"> NOMBRE </th>
        <td mat-cell *matCellDef="let element" class="px-2 text-uppercase"> {{element.lastName}} {{element.name}} </td>
      </ng-container>

      <!-- dni column -->
      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="px-2 tsy-table-th"> DNI </th>
        <td mat-cell *matCellDef="let element" class="px-2 text-uppercase"> {{element.dni}} </td>
      </ng-container>

      <!-- mail column -->
      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="px-2 tsy-table-th"> MAIL </th>
        <td mat-cell *matCellDef="let element" class="px-2 text-uppercase"> {{element.mail}} </td>
      </ng-container>

      <!-- more details column -->
      <ng-container matColumnDef="vermas">
        <th mat-header-cell *matHeaderCellDef class="px-2 tsy-table-th"> VER MÁS </th>
        <td mat-cell *matCellDef="let element" class="px-2">
          <button type="button" mdbBtn color="default" size="sm" class="rounded-pill m-0" mdbWavesEffect (click)="openForm(element, 'CONS')">
            <i class="fas fa-eye fs-15"></i>
          </button>
        </td>
      </ng-container>

      <!-- update column -->
      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef class="px-2 tsy-table-th"> EDITAR </th>
        <td mat-cell *matCellDef="let element" class="px-2">
          <button type="button" mdbBtn color="success" size="sm" class="rounded-pill m-0" mdbWavesEffect (click)="openForm(element, 'MODI')">
            <i class="fas fa-pen fs-15"></i>
          </button>
        </td>
      </ng-container>

      <!-- delete column -->
      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef class="px-2 tsy-table-th"> ELIMINAR </th>
        <td mat-cell *matCellDef="let element" class="px-2">
          <button type="button" mdbBtn color="danger" size="sm" class="rounded-pill m-0" mdbWavesEffect (click)="openDeleteConfirm(element)">
            <i class="fas fa-trash-alt fs-15"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
  <div class="container-fluid m-0 p-0 rounded-bottom white font-ruby">
    <div class="row m-0 p-0">
      <div class="col p-0">
        <p class="m-0 p-0 py-3 px-4 text-center tsy-total">
          Mostrando <mdb-badge pill="true" default="true" class="fs-15">{{dataLength}}</mdb-badge> registros
        </p>
      </div>
    </div>
  </div>

</section>
