<section id="app-breadcrumbs" class="m-0 p-2">


  <nav aria-label="breadcrumb">
    <ol class="breadcrumb m-0">
      <li class="breadcrumb-item"
        *ngFor="let item of breadcrumbList; let i = index"
        [class.active]="i===breadcrumbList.length-1">
          <a *ngIf="i!==breadcrumbList.length-1" routerLink="['/inicio']">
            {{ item.name }}
          </a>
          <span *ngIf="i===breadcrumbList.length-1">{{ item.name }}</span>
      </li>
    </ol>
  </nav>

</section>
