#app-footer {
  padding: 10px 20px !important;
  font-family: Rubik !important;
  color: white;
}

#redes {

  div > a {
    text-decoration: none;
    color: white !important;

    :hover{
      color: rgb(180, 180, 180);
    }
  }

}

// Small devices (landscape phones, 576px and down)
@media (max-width: 576px) {

  #redes {
    justify-content: center !important;
  }

  #copyright {
    text-align: center !important;
    font-size: 15px;
  }

}
