<section id="app-footer" class="m-0 p-0 tsy-back-primary">
  <div class="container-fluid m-0 p-0">
    <div class="row m-0 p-0">
      <div class="col-12 col-sm-3 col-md-4 m-0 p-0">
        <div class="container-fluid m-0 p-0">
          <div id="redes" class="row m-0 p-0 d-flex justify-content-start">
            <div class="mx-2">
              <a href="https://github.com/cacatalan98" target="_blank">
                <i class="fa-github fab"></i>
              </a>
            </div>
            <div class="mx-2">
              <a href="https://www.facebook.com/cacatalan98/" target="_blank">
                <i class="fa-facebook fab"></i>
              </a>
            </div>
            <div class="mx-2">
              <a href="https://www.instagram.com/acatalan98/" target="_blank">
                <i class="fa-instagram fab"></i>
              </a>
            </div>
            <div class="mx-2">
              <a href="https://twitter.com/cacatalan98" target="_blank">
                <i class="fa-twitter fab"></i>
              </a>
            </div>
            <div class="mx-2">
              <a href="https://www.linkedin.com/in/cacatalan98/" target="_blank">
                <i class="fa-linkedin fab"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-9 col-md-8 m-0 p-0">
        <p id="copyright" class="m-0 p-0 text-right">
          Todos los derechos reservados.
        </p>
      </div>
    </div>
  </div>
</section>
