<section id="app-header" class="m-0 p-0 font-rubik">

  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark tsy-back-primary ie-nav fixed-top" [containerInside]="false">

    <mdb-navbar-brand>
        <span class="title" href="">
          TURNEASY
        </span>
    </mdb-navbar-brand>

    <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/']">
            <mdb-icon fas icon="home"></mdb-icon>
            Inicio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/clientes']">
            <mdb-icon fas icon="users"></mdb-icon>
            Clientes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>
            <mdb-icon fas icon="clock"></mdb-icon>
            Turnos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>
            <mdb-icon fas icon="file-alt"></mdb-icon>
            Reportes
          </a>
        </li>
      </ul>

        <!-- Links -->
      <ul class="navbar-nav ml-auto">

        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <mdb-icon fas icon="user"></mdb-icon>
              {{username}}
            <span class="caret"></span>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect>Configuraciones</a>
            <a class="dropdown-item waves-light" mdbWavesEffect>Mi cuenta</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" (click)="logout()">Salir</a>
          </div>
        </li>

      </ul>
      <!-- Links -->

    </links>
  </mdb-navbar>

</section>
