<section id="home-component">

  <app-header></app-header>

  <div id="home-container" class="m-0 mt-2 p-2 pt-5">

    <router-outlet></router-outlet>

  </div>

  <app-footer></app-footer>

</section>
