<section id="login-component" class="tsy-back-primary font-ruby h-100 py-5 overflow-auto">


  <div id="login-container" class="m-0 p-0 h-100-md">
    <div class="container-fluid m-0 p-0 h-100-md">
      <div class="row m-0 p-0 d-flex justify-content-center h-100-md">

        <div id="login-box" class="col-12 col-md-5 col-xd-3 p-3 bg-white rounded">
          <div class="row m-0 p-0">
            <div class="col p-0">
              TurnEasy
            </div>
          </div>
          <div id="login-form-box" class="row m-0 p-0 p-3 py-5 d-flex justify-content-center">

            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="text-center">

              <p class="h4 mb-4">Iniciar Sesión</p>

              <mat-form-field class="w-100 mb-2">
                <mat-label>Usuario</mat-label>
                <input matInput type="text" placeholder="Nombre de usuario" autocomplete="off" formControlName="user" name="user">
              </mat-form-field>

              <mat-form-field class="w-100 mb-4">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" placeholder="Contraseña de usuario" formControlName="pass" name="pass">
              </mat-form-field>

              <button mdbBtn color="info" block="true" class="my-4" type="submit">Iniciar</button>

              <!-- Register -->
              <p>
                <a href="">Registrarme</a>
              </p>

            </form>

          </div>
          <div class="row m-0 p-0 d-flex justify-content-end">
            <p id="login-footer-help" class="m-0 p-0">Inicie sesión para ingresar a Turneasy.</p>
          </div>
        </div>

      </div>
    </div>
  </div>


</section>
