#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-welcome {
  font-size: 26px;
}

#login-turneasy {
  font-size: 60px;
}

// hasta Medium devices (landscape phones, 576px and up)
@media (max-width: 767px) {

  #login-component {
    padding: 0px !important;
  }

  #login-box {
    display: flex !important;
    flex-direction: column !important;
    border-radius: 0px !important;
  }

  #login-form-box {
    flex: 1 0 !important;

    > form {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      align-self: center;
      width: 100%;
    }
  }

  .h-100-md {
    height: 100% !important;
  }

}
