<div class="modal-header d-flex justify-content-center">
  <p class="heading">¿Está seguro?</p>
</div>

<div class="modal-body text-center">
  <p>Se eliminará de manera permanente</p>
  <mdb-icon fas icon="times" size="4x" class="animated rotateIn"></mdb-icon>
</div>

<div class="modal-footer justify-content-center">
  <button type="button" mdbBtn color="danger" class="waves-effect" aria-label="Close" mdbWavesEffect outline="true" (click)="onYesClick()">Sí</button>
  <button  type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect (click)="onNoClick()">No</button>
</div>
