/* You can add global styles to this file, and also import other style files */
$primary_font: 'Rubik';
$background-color: #181F2C;

html,
body {
  height: 100%;
  width: 100%;
}

/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
body {
  overflow-x: hidden;
}

.font-ruby {
  font-family: Rubik !important;
}

.tsy-back-primary {
  background-color: $background-color !important;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

/* TABLE TSY */
.tsy-table th.mat-sort-header-sorted {
  color: black;
}

.tsy-table .mat-header-cell {
  color: black !important;
  font-weight: 800 !important;
}

.tsy-table .mat-cell {
  color: rgba(80, 80, 80, 0.85) !important;
}

.tsy-table-th {
  top: -1px !important;
}
/***********************/

.tsy-total {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-20 {
  font-size: 20px !important;
}

/* FORM TSY VALID */
.tsy-form-valid .ng-invalid {
  border-color: #dc3545;
}

.tsy-form-valid .ng-invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.tsy-form-valid .ng-invalid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: block;
  max-width: 100%;
  padding: .25rem .5rem;
  margin-top: .1rem;
  font-size: .875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(220,53,69,.9);
  border-radius: .25rem;
}

.tsy-form-valid .ng-invalid-feedback {
  display: block;
  width: 100%;
  margin-top: .20rem;
  font-size: 70%;
  font-weight: 300;
  color: #dc3545;
}

.tsy-select-disabled {
  background-color: #e9ecef !important;
  opacity: 1 !important;
  pointer-events: none !important;
}


